# Ignorer les fichiers inutiles pour le build
**/.classpath
**/.dockerignore
**/.env
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/node_modules
**/npm-debug.log
**/bin/
**/obj/
**/charts/
**/secrets.dev.yaml
**/values.dev.yaml
Dockerfile*
docker-compose*

# Fichiers Git
.git/
!.gitignore
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/

# Documentation (optionnel à ignorer dans image)
LICENSE
README.md
