# Fichiers de build .NET
**/bin/
**/obj/

# Répertoires et logs inutiles
*.log
*.vs/
.vscode/
*.user
*.suo

# Conteneur Docker, variables d’environnement
Dockerfile*
*.dockerignore

# Dossiers système ou caches
**/.git/
**/.gitignore
**/.env
**/*.tmp
